# Use personal ssh key on work machines, or else delete this
[core]
    sshCommand = ssh -i ~/.ssh/id_rsa_personal -F /dev/null
[user]
    name = Alex Cummaudo
    email = git@alexcu.ai

# Include work
[include]
    path = ~/.gitconfig.work
